{% assign allergens = product.metafields.my_fields.allergens | newline_to_br | split: 'break'%}

{% if allergens.size == 1 %}
  {% assign all = allergens[0] | newline_to_br | split: '<br />'%}
{% else %}
  <p>{{allergens}}</p>
{% endif %}
  
<div>
  <h4>{{all[0]}}</h4>
  <div style="display: flex;
              flex-direction: row;
              flex-wrap: wrap;">
    {% for allergen in all %}
      {% if allergen contains all[0] or allergen.size <= 3%}
        {% continue %}
      {% elsif allergen contains "Egg" %}
        <div style="display: flex;
                    flex-direction: column;
                    align-items: center;
                    flex: 0 0 25%; 
                    margin-bottom: 30px;">
          <i class="fa-solid fa-2x fa-egg" style="color: #e0c88d"></i>
            <p>Egg</p>
        </div>
      {% elsif allergen contains "Dairy"%}
        <div style="display: flex;
          flex-direction: column;
          align-items: center;
          flex: 0 0 25%; margin-bottom: 30px;">
            <i class=" fa-solid fa-2x fa-cheese" style="color: #ffd867"></i>
            <p>Dairy</p>
        </div>
      {% elsif allergen contains "Mustard"%}
        <div style="display: flex;
          flex-direction: column;
          align-items: center;
          flex: 0 0 25%; margin-bottom: 30px;">
            <img src="{{ 'mustard.svg' | asset_url }}"
                 alt="mustard"
                 style="width: 20%; height: auto" />
            <p>Mustard</p>
        </div>
      {% elsif allergen contains "Peanuts"%}
        <div style="display: flex;
          flex-direction: column;
          align-items: center;
          flex: 0 0 25%; margin-bottom: 30px;">
            <img src="{{ 'peanut.svg' | asset_url }}"
                 alt="peanut"
                 style="width: 20%; height: auto" />
            <p>Peanuts</p>
        </div>
      {% elsif allergen contains "Seafood"%}
        <div style="display: flex;
          flex-direction: column;
          align-items: center;
          flex: 0 0 25%; margin-bottom: 30px;">
            <i class=" fa-solid fa-2x fa-shrimp" style="color:#ff9f9f"></i>
            <p>Seafood</p>
        </div>
      {% elsif allergen contains "Sesame"%}
        <div style="display: flex;
          flex-direction: column;
          align-items: center;
          flex: 0 0 25%; margin-bottom: 30px;">
          <img src="{{ 'sesame.svg' | asset_url }}"
                 alt="sesame"
                 style="width: 20%; height: auto" />
          <p>Sesame</p>
        </div>
      {% elsif allergen contains "Soy"%}
        <div style="display: flex;
          flex-direction: column;
          align-items: center;
          flex: 0 0 25%; margin-bottom: 30px;">
            <img src="{{ 'soy.svg' | asset_url }}"
                 alt="soy"
                 style="width: 20%; height: auto" />
            <p>Soy</p>
        </div>
      {% elsif allergen contains "Sulfites"%}
        <div style="display: flex;
          flex-direction: column;
          align-items: center;
          flex: 0 0 25%; margin-bottom: 30px;">
            <i class=" fa-solid fa-2x fa-wine-glass" style="color:#b11226"></i>
            <p>Sulfites</p>
        </div>
      {% elsif allergen contains "Tree Nuts"%}
        <div style="display: flex;
          flex-direction: column;
          align-items: center;
          flex: 0 0 25%; margin-bottom: 30px;">
            <img src="{{ 'nuts.svg' | asset_url }}"
                 alt="nuts"
                 style="width: 20%; height: auto" />
            <p>Tree Nuts</p>
        </div>
      {% elsif allergen contains "Wheat Gluten"%}
        <div style="display: flex;
          flex-direction: column;
          align-items: center;
          flex: 0 0 25%; margin-bottom: 30px;">
          <img src="{{ 'wheat.svg' | asset_url }}"
                 alt="wheat"
                 style="width: 20%; height: auto" />
          <p>Wheat Gluten</p>
        </div>
      {% else %}
        <p>Unsupported </p>
      {% endif %}
    {% endfor %}
  </div>
</div>